# Dotfiles
.vs/
.vscode/

# Build artifacts
*.exe
*.obj
*.lib
*.dll
*.pdb

# Intermediate files
build/
src/*/*/obj

# Test files
files/

# Visual Studio specific
*.suo
*.user
*.VC.db

# Temporary files
*.log
*.tmp